<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nuestra Empresa de Mates</title>
    <link rel="stylesheet" href="/app-react/public/css/about.css">
</head>
<body>
    <header>
        <h1>Acerca de Nuestra Empresa de Mates</h1>
        <nav>
            <ul>
                <li><a href="/app-react/public/views/index.html/index.html">Inicio</a></li>
                <li><a href="/app-react/public/views/products/detail.html/detail.html">Productos</a></li>
                <li><a href="/app-react/public/views/users/login.html/login.html">Usuario</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Nuestra Historia</h2>
            <p>Somos una empresa familiar apasionada por los mates, estamos orgullosos de llevar la tradición del mate a todos los rincones del mundo. La inspiracion de El Entrerriano Mate surge de nuestro pueblo Santa Elena, donde el mate es sinonimo de tradicion, compania, amistad y buenos momentos.</p>
        </section>
        <section>
            <h2>Nuestra Misión</h2>
            <p>Nuestra misión es brindar a nuestros clientes la mejor experiencia de mate. Creemos que el mate es más que una bebida; es un vínculo entre personas, que inspira momentos significativos, donde amigos y familiares se reúnen para compartir, conversar y crear recuerdos que perduran toda la vida.</p>
        </section>
        <section>
            <h2>Nuestro Equipo</h2>
            <p>Contamos con un equipo de expertos en mates, desde catadores de yerba mate hasta artesanos que crean los mejores Mates y bombillas. Estamos comprometidos con la satisfacción de nuestros clientes.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 El Entrerriano Mate</p>
    </footer>
</body>
</html>






